{% extends "pages/base.html" %} {% block title %}bloc | sign up{% endblock title %}
{% block content %}

<div class="limiter">
    <div class="container-login100">
       <div class="wrap-login100">
          <form method = "POST" class="login100-form validate-form">
             {% csrf_token %}
             <span class="login100-form-title pb-3">
             <i class="zmdi zmdi-font"></i>
             </span>
             <span class="login100-form-title pb-3">
             Example Site
             </span>
             <span class="login100-form-title p-b-48">
                <p>Enter your email below to sign up for an example account</p>
             </span>
             <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                <label>Email</label>
                {{ form.email }}
                <span class="focus-input100"></span>
             </div>
             <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                   <div class="login100-form-bgbtn"></div>
                   <button class="login100-form-btn">
                   Sign up
                   </button>
                </div>
             </div>
             <div hidden class="text-center p-t-115">
                <span class="txt1">
                Already have an account?
                </span>
                <br>
                <a class="txt2" href="/login">
                Login
                </a>
             </div>
          </form>
       </div>
    </div>
 </div>
 <div id="dropDownSelect1"></div>
 <!-- Replace Below-->
 <div class = "container-fluid">
    <h2>Signup</h2>
    <form method = "POST">
       {% csrf_token %}
       {{ form.as_p }}
       <button type = "submit">Sign up</button>
    </form>
 </div>
{% endblock content %}